.containSettings {
    font-weight: bold;
    user-select: none;
    display: flex;
    flex-direction: column;
}

.settingsOn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #00a92f;
    padding-top: 3px;
    padding-bottom: 3px;
}

.settingsOff{
    display: flex;
    color: rgba(128, 128, 128, 0.66);
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #00a92f;
    padding-top: 3px;
    padding-bottom: 3px;
}

.additionalSettingsOn {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.additionalSettingsOff {
    width: 150px;
    color: rgba(128, 128, 128, 0.66);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}