.modalDeleteContain {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modalDeleteContain.active {
    opacity: 1;
    pointer-events: all;
}

.modalDeleteContent {
    border: 1px solid black;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    width: 370px;
}

.text1 {
    font-weight: bold;
}

.text2 {
    font-weight: bold;
    font-size: 14px;
    color: #af0000;
}




.modalDeleteButton {
    margin: 3px;
    padding: 3px;
    border: 1px #af0000 solid;
    font-weight: bold;
    color: #af0000;
    border-radius: 5px;
    width: 200px;
    background-color: white;
    cursor: pointer;
}

.modalCancelButton{
    margin: 3px;
    padding: 3px;
    border: 1px #808080 solid;
    font-weight: bold;
    color: #808080;
    border-radius: 5px;
    width: 200px;
    background-color: white;
    cursor: pointer;
}