/*!*   color variables *!
$clr-primary: #18ffff;
$clr-primary-light: #adffff;
$clr-primary-dark: #091034;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;
$clr-bg: #060b23;

!*   border radius *!
$radius: 0.5rem;*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.form {
    position: relative;
    width: 20rem;
    height: 2rem;
    margin-bottom: 10px;

}

.form__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 30%;
    border: 1px solid #bdc0c7;
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: inherit;
    color: #000000;
    outline: none;
    padding: 1rem 0.5rem 0.8rem 0.5rem;
    background: none;
}

.form__input:hover {
    border: 1px solid #999aa2;
}

/* Change border when input focus*/

.form__input:focus {
    border: 2px solid #2684FF;
}

.form__label {
    position: absolute;
    pointer-events: none;
    left: 1rem;
    top: 0.3rem;
    padding: 0 0.05rem;
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    border-radius: 1rem;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    background-color: rgb(255, 255, 255);
}

/*
1. When the input is in the focus state
reduce the size of the label and move upwards

2. Keep label state when content is in input field
*/

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
    top: -0.55rem;
    font-size: 0.8rem;
    left: 0.8rem;
    color: #2684FF;
    transition: 0.5s;
}


.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
    color: #00a92f;
}

.form__input:not(:placeholder-shown).form__input:not(:focus) {
    border: 1px solid #00a92f
}

.obligatory {
    position: relative;
    left: 228px;
    bottom: 4px;
    color: red;
    width: 9px;
    font-weight: bold;
}