.judgeAndRegionContain {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.regionAndCategoryContain {
    display: flex;
    justify-content: space-between;
    width: 225px;
}

.regionContain {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}