.centerContain {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sectionWeightAndSelect {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.sectionTeam {
    display: flex;
    width: 100%;
}