.buttonRollback button {
    width: 40px;
    margin: 10px 10px 0 5px;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 10px;
    outline: none;
    border: 1px solid #6c757d;
    border-radius: 5px;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #6c757d;
    background-color: #fff;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
}
.buttonRollback button:focus {
    box-shadow: 0 0 0 3px rgb(108 117 125 / 50%);
}
.buttonRollback button:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.buttonRollback button:active {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.buttonRollback button:disabled {
    pointer-events: none;
    opacity: 0.65;
}