.editableSpanText {
    background-color: rgba(255, 222, 237, 0.8);
    outline: none;
    border: none;
}

.editableSpanNumber {
    max-width: 50px;
    border: none;
    outline: none;
    background-color: rgba(255, 222, 237, 0.8);
}

.fullNameContain {
    position: relative;
    height: 100%;
    max-width: 180px;
}

.fullNameContain .fullNameContent {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 180px;
}


.teamContain {
    position: relative;
    height: 100%;
    max-width: 105px;
}

.teamContain .teamContent {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 105px;
}


.regionContain {
    position: relative;
    height: 100%;
    max-width: 87px;
}

.regionContain .regionContent {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 87px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}