.contain {
    border: solid 1px #00a92f;
    border-radius: 5px;
    margin-bottom: 10px;
    min-height: 55px;
    max-height: 180px;
    padding: 5px;
    overflow: auto;
    z-index: 1;
}

.contain::-webkit-scrollbar-track {
    background-color: #e0e0e0; /*Цвет скролла*/
    border-radius: 80px;
    z-index: 0;
}

.contain::-webkit-scrollbar-thumb {
    border-radius: 80px; /*Закругление ползунка*/
    background-color: #818080; /*Цвет ползунка*/
}

.contain::-webkit-scrollbar {
    width: 6px; /*Толщина скролла*/
}

.containCategory {
    margin: 3px 0 3px 0;
}

.gender {
    background-color: rgba(24, 126, 255, 0.8);
    color: white;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    padding: 0 3px 2px 3px;
    margin: 1px;
    border-radius: 5px;
}

.genderF {
    background-color: rgba(227, 0, 106, 0.8);
}

.weight {
    color: rgba(24, 126, 255, 0.8);
}

.weightF {
    background-color: rgba(227, 0, 106, 0.8);
}

.weights {
    color: rgba(24, 126, 255, 0.8);
    font-weight: bold;
    font-size: 16px;
    margin-left: 5px;
}

.weightsF {
    color: rgba(227, 0, 106, 0.8);
    font-weight: bold;
}

.deleteCategories {
    background: url(../../../../img/red.png) no-repeat;
    top: 11px;
    background-size: 14px;
    display: inline-block;
    margin-right: 2px;
    height: 22px;
    width: 15px;
    cursor: pointer;
}