.leaderboardContain {
    display: flex;

}

.gridColor {
    border-radius: 5px;
    background-color: rgba(255, 248, 0, 0.73);
    -webkit-animation: gridColor 3s linear infinite;
    animation: gridColor 2.5s linear infinite;
}

@-webkit-keyframes gridColor {
    0% {
        background-color: rgba(255, 248, 0, 0.73)
    }
    50% {
        background-color: rgba(255, 248, 0, 0.10)
    }
    100% {
        background-color: rgba(255, 248, 0, 0.73)
    }
}
@keyframes gridColor {
    0% {
        background-color: rgba(255, 248, 0, 0.73)
    }
    50% {
        background-color: rgba(255, 248, 0, 0.10)
    }
    100% {
        background-color: rgba(255, 248, 0, 0.73)
    }
}

.but {
    border: solid 1px red;
}

.firstRoundContain {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    width: 150px;
    min-height: 721px;
}

.RoundName {
    text-align: center;
    font-weight: bold;
}

.firstRound {
    border: solid 1px black;
    border-radius: 10px;
    width: 150px;
    min-height: 721px;
    text-align: center;
}

.groupAAndBContainer {
    display: flex;
    flex-direction: column;
}

.groupAContainer {
    display: flex;
    position: relative;
}

.groupBContainer {
    display: flex;
}

.groupContain {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    min-height: 371px;
}
.groupContainPlace5_6{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    min-height: 371px;
    position: absolute;
    left: 620px;
    top: 130px
}


/*secondRound ------------------------------------------------*/
/*group A ---------------------------------------------------*/
.secondRoundGroupA {
    z-index: 1;
    border: solid 1px black;
    border-radius: 10px;
    width: 150px;
    min-height: 350px;
    text-align: center;
}

/*group B ---------------------------------------------------*/
.secondRoundGroupB {
    border: solid 1px black;
    border-radius: 10px;
    width: 150px;
    min-height: 350px;
    text-align: center;
}

/*thirdRound ------------------------------------------------*/
/*group A ---------------------------------------------------*/
.thirdRoundGroupA {
    border: solid 1px black;
    border-radius: 10px;
    width: 150px;
    min-height: 280px;
    text-align: center;
}

/*group B ---------------------------------------------------*/
.thirdRoundGroupB {
    border: solid 1px black;
    border-radius: 10px;
    width: 150px;
    min-height: 350px;
    text-align: center;
}

/*fourthRound ------------------------------------------------*/
/*group A ---------------------------------------------------*/
.fourthRoundGroupA {
    border: solid 1px black;
    border-radius: 10px;
    width: 150px;
    min-height: 220px;
    text-align: center;
}

/*group B ---------------------------------------------------*/
.fourthRoundGroupB {
    border: solid 1px black;
    border-radius: 10px;
    width: 150px;
    min-height: 320px;
    text-align: center;
}

/*fifthRound ------------------------------------------------*/
/*group A ---------------------------------------------------*/
.fifthRoundGroupA {
    border: solid 1px black;
    border-radius: 10px;
    width: 150px;
    min-height: 120px;
    text-align: center;
}

/*group B ---------------------------------------------------*/
.fifthRoundGroupB {
    border: solid 1px black;
    border-radius: 10px;
    width: 150px;
    min-height: 280px;
    text-align: center;
}

/*sixthRound ------------------------------------------------*/
/*group B ---------------------------------------------------*/
.sixthRoundGroupB {
    border: solid 1px black;
    border-radius: 10px;
    width: 150px;
    min-height: 220px;
    text-align: center;
}

/*seventhRound ------------------------------------------------*/
/*group B ---------------------------------------------------*/
.seventhRoundGroupB {
    border: solid 1px black;
    border-radius: 10px;
    width: 150px;
    min-height: 120px;
    text-align: center;
}

/*place5_6Round ------------------------------------------------*/
.place5_6{
    border: solid 1px black;
    border-radius: 10px;
    width: 150px;
    min-height: 60px;
    text-align: center;
}

/*semiFinalRound ------------------------------------------------*/
.semiFinalRound {
    border: solid 1px black;
    border-radius: 10px;
    width: 150px;
    min-height: 60px;
    text-align: center;
}

/*finalRound ------------------------------------------------*/
.finalRound {
    border: solid 1px black;
    border-radius: 10px;
    width: 150px;
    min-height: 60px;
    text-align: center;
}