.leaderboardContain {
    display: flex;

}

.underline {
    color: limegreen;
    font-weight: 600;
}


.gridWhite {
    width: 148px;
    height: 21px;
}


.gridGray {
    background-color: rgba(128, 128, 128, 0.29);
    width: 148px;
    height: 21px;
}

.gridColor {
    -webkit-animation: gridColor 3s linear infinite;
    animation: gridColor 1.5s linear infinite;
}

.firstRoundContain {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    min-height: 721px;
    z-index: 1;
}


@-webkit-keyframes gridColor {
    0% {

    }
    50% {

    }
    100% {

    }

}
@keyframes gridColor {
    0% {
        background-color: rgba(128, 128, 128, 0.60);
    }
    50% {
        background-color: rgba(128, 128, 128, 0.30);
    }
    100% {
        background-color: rgba(128, 128, 128, 0.60);
    }
}



.but {
    border: solid 1px red;
}

.grayColor {
    background-color: rgba(128, 128, 128, 0.29);
}



.RoundName {
    text-align: center;
    font-weight: bold;
}

.firstRound {
    border: solid 1px black;
    border-radius: 10px;
    width: 150px;
    min-height: 672px;
    text-align: center;
}

.groupAAndBContainer {
    display: flex;
    flex-direction: column;
}

.groupAContainer {
    display: flex;
    position: relative;
}

.groupBContainer {
    display: flex;
}

.groupContain {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    min-height: 371px;
}
.groupContainPlace5_6{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    min-height: 371px;
    position: absolute;
    left: 620px;
    top: 130px
}


/*secondRound ------------------------------------------------*/
/*group A ---------------------------------------------------*/
.secondRoundGroupA {
    z-index: 1;
    border: solid 1px black;
    border-radius: 10px;
    width: 150px;
    min-height: 336px;
    text-align: center;
}

/*group B ---------------------------------------------------*/
.secondRoundGroupB {
    border: solid 1px black;
    border-radius: 10px;
    width: 150px;
    min-height: 336px;
    text-align: center;
}

/*thirdRound ------------------------------------------------*/
/*group A ---------------------------------------------------*/
.thirdRoundGroupA {
    border: solid 1px black;
    border-radius: 10px;
    width: 150px;
    min-height: 168px;
    text-align: center;
}

/*group B ---------------------------------------------------*/
.thirdRoundGroupB {
    border: solid 1px black;
    border-radius: 10px;
    width: 150px;
    min-height: 336px;
    text-align: center;
}

/*fourthRound ------------------------------------------------*/
/*group A ---------------------------------------------------*/
.fourthRoundGroupA {
    border: solid 1px black;
    border-radius: 10px;
    width: 150px;
    min-height: 84px;
    text-align: center;
}

/*group B ---------------------------------------------------*/
.fourthRoundGroupB {
    border: solid 1px black;
    border-radius: 10px;
    width: 150px;
    min-height: 252px;
    text-align: center;
}

/*fifthRound ------------------------------------------------*/
/*group A ---------------------------------------------------*/
.fifthRoundGroupA {
    border: solid 1px black;
    border-radius: 10px;
    width: 150px;
    min-height: 42px;
    text-align: center;
}

/*group B ---------------------------------------------------*/
.fifthRoundGroupB {
    border: solid 1px black;
    border-radius: 10px;
    width: 150px;
    min-height: 168px;
    text-align: center;
}

/*sixthRound ------------------------------------------------*/
/*group B ---------------------------------------------------*/
.sixthRoundGroupB {
    border: solid 1px black;
    border-radius: 10px;
    width: 150px;
    min-height: 84px;
    text-align: center;
}

/*seventhRound ------------------------------------------------*/
/*group B ---------------------------------------------------*/
.seventhRoundGroupB {
    border: solid 1px black;
    border-radius: 10px;
    width: 150px;
    min-height: 42px;
    text-align: center;
}

/*place5_6Round ------------------------------------------------*/
.place5_6{
    border: solid 1px black;
    border-radius: 10px;
    width: 150px;
    min-height: 42px;
    text-align: center;
}

/*semiFinalRound ------------------------------------------------*/
.semiFinalRound {
    border: solid 1px black;
    border-radius: 10px;
    width: 150px;
    min-height: 42px;
    text-align: center;
}

/*finalRound ------------------------------------------------*/
.finalRound {
    border: solid 1px black;
    border-radius: 10px;
    width: 150px;
    min-height: 42px;
    text-align: center;
}