.controlPanelContain {
    background-color: #9344e5;
    color: white;
    padding: 10px;
    min-width: 260px;
    max-width: 260px;
    min-height: 844px;
    font-weight: bold;
    border-bottom-right-radius: 10px;
}

.nameControlPanel {
    text-align: center;
}

.buttonCategory {
    display: inline-block;
    text-decoration: none;
    color: white;
}
.buttonCategoryOn {
    color: darkorange;
    display: inline-block;
    text-decoration: none;
}

.buttonCategory:hover {
    color: darkorange;
}