.containRegistration {
    display: flex;
    justify-content: space-around;
}

.registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 310px;
    margin-right: 20px;
    margin-left: 20px;
}

.registeredAthletes {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
}

.athletesM {
    text-align: start;
    width: 560px;
    padding: 3px 10px;
    background-color: white;
    margin: 1px;
    color: #187eff;
    display: flex;
    justify-content: space-between;
    border: 1px solid #187eff;
    border-radius: 10px;
}

.judges {
    min-width: 560px;
    padding: 3px 10px;
    background-color: white;
    margin: 1px;
    color: #3f3f3f;
    display: flex;
    justify-content: space-between;
    border: 1px solid #3f3f3f;
    border-radius: 10px;
}

.athletesF {
    color: rgba(227, 0, 106, 0.8);
    border: 1px solid rgba(227, 0, 106, 0.8);
}

.error {
    color: red;
    font-size: 14px;
    text-align: center;
}

.addAthleteButton {
    align-self: center;
    padding: 3px;
    margin-bottom: 3px;
    border: 1px #187eff solid;
    font-weight: bold;
    color: #187eff;
    border-radius: 5px;
    width: 200px;
    background-color: white;
    cursor: pointer;
}

.removeButton {
    padding: 2px;
    font-size: 13px;
    font-weight: bold;
    width: 70px;
    height: 25px;
    border: 1px solid red;
    border-radius: 5px;
    color: red;
    background-color: white;
    cursor: pointer;
}

/*.removeButton {
    display: inline-block;
    padding: 5px 15px;
    border: 5px solid #B17461;
    color: #B17461;
    font-size: 12px;
    font-family: arial;
    background-image: linear-gradient(#B17461, #B17461);
    background-repeat: no-repeat;
    transition: background-size .5s, color .5s;
}*/

.removeButton:hover {
    background-color: red;
    color: white;
}

.deleteFromCategory {
    padding: 2px;
    font-size: 13px;
    font-weight: bold;
    width: 70px;
    height: 25px;
    border: 1px solid red;
    border-radius: 5px;
    color: red;
    background-color: white;
    cursor: pointer;
}

.deleteFromCategory:hover {
    background-color: red;
    color: white;
}

.fullName {
    font-weight: bold;
    width: 180px;
    margin: 0 3px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.team {
    width: 105px;
    margin: 0 3px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.rank {
    margin-left: 19px;
    min-width: 68px;
    cursor: pointer;
}

.weight {
    min-width: 70px;
    margin: 0 3px;
    cursor: pointer;
}

.regionJudge {
    width: 87px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.statusJudge {
    width: 105px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.categoryJudge {
    min-width: 68px;
    cursor: pointer;
}

.weightsCategories {
    margin-left: 10px;
}

.weightFemale {
    padding: 3px;
    margin: 3px;
    border: 1px #e3006a solid;
    font-weight: bold;
    color: #e3006a;
    border-radius: 5px;
    width: 37px;
    background-color: white;
    cursor: pointer;
}

.weightMale {
    padding: 3px;
    margin: 0 3px;
    border: 1px #187eff solid;
    font-weight: bold;
    color: #187eff;
    border-radius: 5px;
    width: 37px;
    background-color: white;
    cursor: pointer;
}

.registrationDescription {
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}

.startTournamentButton {
    padding: 3px;
    margin-right: 15px;
    margin-bottom: 3px;
    border: 1px #05a200 solid;
    font-weight: bold;
    color: #05a200;
    border-radius: 5px;
    width: 200px;
    background-color: white;
    cursor: pointer;
}

.deleteTournamentButton {
    padding: 3px;
    margin-right: 15px;
    margin-bottom: 3px;
    border: 1px #af0000 solid;
    font-weight: bold;
    color: #af0000;
    border-radius: 5px;
    width: 200px;
    background-color: white;
    cursor: pointer;
}

.startAndDeleteTournamentButton {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sectionWeightAndSelect {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.listMale {
    background-color: rgba(24, 126, 255, 0.8);
    color: white;
    display: inline-block;
    padding: 0 3px 2px 3px;
    margin: 1px;
    border-radius: 5px;
}

.weightListM {
    cursor: pointer;
    width: 38px;
    padding-bottom: 1px;
    border: solid 1px #187eff;
    border-radius: 5px;
    font: inherit;
    background-color: transparent;
    color: rgba(24, 126, 255, 0.8);
    margin-left: 2px;
}

.weightListM:hover {
    background-color: rgba(24, 126, 255, 0.8);
    color: white;
}

.weightListMActive {
    background-color: rgba(24, 126, 255, 0.8);
    color: white;
}


.weightListF {
    cursor: pointer;
    width: 38px;
    padding-bottom: 1px;
    border: solid 1px #e3006a;
    border-radius: 5px;
    font: inherit;
    background-color: transparent;
    color: rgba(227, 0, 106, 0.8);
    margin-left: 2px;
}

.weightListFActive {
    background-color: rgba(227, 0, 106, 0.8);
    color: white;
}

.weightListF:hover {
    background-color: rgba(227, 0, 106, 0.8);
    color: white;
}

.listFemale {
    background-color: rgba(227, 0, 106, 0.8);
    color: white;
    display: inline-block;
    padding: 0 3px 2px 3px;
    margin: 1px;
    border-radius: 5px;
}

.genderList {
    text-align: start;
}

.containButtons {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filterButton {
    cursor: pointer;
    margin: 0 5px;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    width: 75px;
    height: 20px;
    border-radius: 10px;
    border: none;
    color: inherit;
    background-color: transparent;
    -webkit-box-shadow: 0 6px 3px -4px rgba(34, 60, 80, 0.40);
    -moz-box-shadow: 0 6px 3px -4px rgba(34, 60, 80, 0.40);
    box-shadow: 0 6px 3px -4px rgba(34, 60, 80, 0.40);
}

.filterButtonMale {
    border: solid 1px #187eff;
    color: #187eff;
}

.filterButtonMale:hover {
    border: solid 1px #0072ff;
    color: white;
    background-color: #187eff;
}

.activeMale {
    border: solid 1px #0072ff;
    color: white;
    background-color: #187eff;
}

.filterButtonFemale {
    border: solid 1px #e3006a;
    color: #e3006a;
}

.filterButtonFemale:hover {
    border: solid 1px #a80049;
    color: white;
    background-color: #e3006a;
}

.activeFemale {
    border: solid 1px #a80049;
    color: white;
    background-color: #e3006a;
}

.filterButtonJudges {
    border: solid 1px #3f3f3f;
    color: #3f3f3f;
}

.filterButtonJudges:hover {
    border: solid 1px #232323;
    color: white;
    background-color: #3f3f3f;
}

.activeJudges {
    border: solid 1px #232323;
    color: white;
    background-color: #3f3f3f;
}

.filterButtonAll {
    border: solid 1px #05a200;
    color: #05a200;
}

.filterButtonAll:hover {
    border: solid 1px #047a00;
    color: white;
    background-color: #05a200;
}

.activeAll {
    border: solid 1px #047a00;
    color: white;
    background-color: #05a200;
}

.centerContain {
    display: flex;
    justify-content: center;
}

.judgeAndRegionContain {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.regionAndCategoryContain {
    display: flex;
    justify-content: space-between;
    width: 225px;
}

.regionContain {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.nameOfCategory {
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}

.emptyOfCategory {
    color: red;
    font-size: 14px;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}

.backToMembers {
    padding: 1px;
    margin-top: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: blue;
    width: 275px;
}

.backToMembers:hover {
    font-weight: bold;
}

.removalOfAthlete {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid red;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding: 5px;
    color: red;
    -webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.38);
    -moz-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.38);
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.38);
}

.buttonsModalDelete {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    margin-top: 5px;
}

.buttonsModalDelete button {
    padding: 2px;
    font-size: 13px;
    font-weight: bold;
    width: 70px;
    height: 25px;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.delete {
    color: red;
    border: solid 1px red;
}

.cancel{
    border: solid 1px grey;
    color: grey;
}

.cancel:hover {
    background-color: grey;
    color: white;
    border: 1px solid #626262;
}

.delete:hover {
    background-color: red;
    color: white;
    border: 1px solid #da0000;
}