.containRegistration {
    display: flex;
    justify-content: space-around;
}

.registration {
    display: flex;
    flex-direction: column;
    max-width: 237px;
    margin-right: 20px;
    margin-left: 20px;
}

.registeredAthletes {
    display: flex;
    flex-direction: column;
    min-height: 100px;
}

.athletesM {
    min-width: 500px;
    padding: 3px 10px;
    background-color: white;
    margin: 1px;
    color: #187eff;
    display: flex;
    justify-content: space-around;
    border: 1px solid #187eff;
    border-radius: 10px;
}

.judges {
    min-width: 500px;
    padding: 3px 10px;
    background-color: white;
    margin: 1px;
    color: #3f3f3f;
    display: flex;
    justify-content: space-between;
    border: 1px solid #3f3f3f;
    border-radius: 10px;
}

.athletesF {
    color: rgba(227, 0, 106, 0.8);
    border: 1px solid rgba(227, 0, 106, 0.8);
}

.error {
    color: red;
    font-size: 14px;
    text-align: center;
}

.addAthleteButton {
    align-self: center;
    padding: 3px;
    margin-right: 15px;
    margin-bottom: 3px;
    border: 1px #187eff solid;
    font-weight: bold;
    color: #187eff;
    border-radius: 5px;
    width: 200px;
    background-color: white;
    cursor: pointer;
}

.removeButton {
    padding: 2px;
    width: 25px;
    height: 25px;
    border: 1px solid red;
    border-radius: 50%;
    color: red;
    background-color: transparent;
    cursor: pointer;
}

.fullName {
    font-weight: bold;
    width: 200px;
    margin: 0 3px;
    overflow: auto;
    white-space: nowrap;
    cursor: pointer;
}

.team {
    min-width: 130px;
    cursor: pointer;
    margin: 0 3px;
    text-align: center;
}

.rank {
    min-width: 68px;
    text-align: center;
    margin: 0 3px;
    cursor: pointer;
}

.weight {
    min-width: 68px;
    margin: 0 3px;
    cursor: pointer;
}


.weightsCategories {
    margin-left: 10px;
}

.weightFemale {
    padding: 3px;
    margin: 3px;
    border: 1px #e3006a solid;
    font-weight: bold;
    color: #e3006a;
    border-radius: 5px;
    width: 37px;
    background-color: white;
    cursor: pointer;
}

.weightMale {
    padding: 3px;
    margin: 0 3px;
    border: 1px #187eff solid;
    font-weight: bold;
    color: #187eff;
    border-radius: 5px;
    width: 37px;
    background-color: white;
    cursor: pointer;
}

.registrationDescription {
    margin-bottom: 10px;
    font-weight: bold;
}

.startTournamentButton {
    padding: 3px;
    margin-right: 15px;
    margin-bottom: 3px;
    border: 1px #05a200 solid;
    font-weight: bold;
    color: #05a200;
    border-radius: 5px;
    width: 200px;
    background-color: white;
    cursor: pointer;
}

.deleteTournamentButton {
    padding: 3px;
    margin-right: 15px;
    margin-bottom: 3px;
    border: 1px #af0000 solid;
    font-weight: bold;
    color: #af0000;
    border-radius: 5px;
    width: 200px;
    background-color: white;
    cursor: pointer;
}

.startAndDeleteTournamentButton {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sectionWeightAndSelect {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.listMale {
    background-color: rgba(24, 126, 255, 0.8);
    color: white;
    display: inline-block;
    padding: 0 3px 2px 3px;
    margin: 1px;
    border-radius: 5px;
}

.weightListM {
    color: rgba(24, 126, 255, 0.8);
    margin-left: 2px;
}

.weightListF {
    color: rgba(227, 0, 106, 0.8);
    margin-left: 2px;
}

.listFemale {
    background-color: rgba(227, 0, 106, 0.8);
    color: white;
    display: inline-block;
    padding: 0 3px 2px 3px;
    margin: 1px;
    border-radius: 5px;
}

.teamList {
    border: solid 1px red
}
